ClienteWebService/xml-resources/web-service-references/Calculadora/wsdl/localhost_8080/LabWebService/Calculadora.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://std.engtelecom/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://std.engtelecom/" name="Calculadora">
<types>
<xsd:schema>
<xsd:import namespace="http://std.engtelecom/" schemaLocation="http://localhost:8080/LabWebService/Calculadora?xsd=1"/>
</xsd:schema>
</types>
<message name="somar">
<part name="parameters" element="tns:somar"/>
</message>
<message name="somarResponse">
<part name="parameters" element="tns:somarResponse"/>
</message>
<message name="subtrair">
<part name="parameters" element="tns:subtrair"/>
</message>
<message name="subtrairResponse">
<part name="parameters" element="tns:subtrairResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="Calculadora">
<operation name="somar">
<input wsam:Action="http://std.engtelecom/Calculadora/somarRequest" message="tns:somar"/>
<output wsam:Action="http://std.engtelecom/Calculadora/somarResponse" message="tns:somarResponse"/>
</operation>
<operation name="subtrair">
<input wsam:Action="http://std.engtelecom/Calculadora/subtrairRequest" message="tns:subtrair"/>
<output wsam:Action="http://std.engtelecom/Calculadora/subtrairResponse" message="tns:subtrairResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://std.engtelecom/Calculadora/helloRequest" message="tns:hello"/>
<output wsam:Action="http://std.engtelecom/Calculadora/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="CalculadoraPortBinding" type="tns:Calculadora">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="somar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtrair">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calculadora">
<port name="CalculadoraPort" binding="tns:CalculadoraPortBinding">
<soap:address location="http://localhost:8080/LabWebService/Calculadora"/>
</port>
</service>
</definitions>